<h1>Smartflix</h1>

<% if customer_signed_in? %>
  <%= render 'live_classes' %>
<% else %>
  <p>Escolha seu plano</p>

  <%= render 'plans' %>
<% end %>

<%=link_to 'Alunos', new_customer_registration_path%>
