defaults: &defaults
  payments_url: http://localhost:5000/api/v1
  enrollments_url: http://localhost:4000/api/v1
  choose_plan_url: http://localhost:4000/

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults